body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: black;
    font-family: "Roboto", sans-serif;
}

.caja1 {justify-content: center;
    margin-top: -15px;
    margin-right: 130px;
    width: 250px;
    line-height: 45%;
    padding-top: 0%;
}

.brand {display: flex;
    justify-content: space-between;
    font-size: 20px;
    margin-top: 0px;
}

.html5 {display: flex;
    justify-content: space-between;
    font-size: 8px;
}

.fa-solid {display: flex;
    justify-content: space-between;
    font-size: 35px;
}

.post {
    background-color: white;
    width: 30%;
    height: auto;
}


img {
    width: 100%;
    height: 100%,
}

.post-header {
    gap: 10px;
    background-color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.post-icons {
    justify-content: space-between;
    margin-top: 15px;
    margin-bottom: -15px;
    background-color: white;
    padding: 10px;
    font-size: 20px;
}



.fa-heart {display: flex;

}
.fa-comment {display: flex;
    margin-left: 40px;
}

.fa-paper-plane{display: flex;
    margin-left: 80px;
}
.bookmark {display: flex;
    padding-right: 10px;
    font-size: 20px;
    justify-content: end;}

.post-body {
    background-color: white;
    text-align: justify;
    padding: 10px;
    margin: 5px;}