.d-flex { 
    display: flex;
}

.align-center {
    align-items: center;
}

.justify-between {
    justify-content: space-between;
}

p, h1, h2{
    margin: 0
}

.contenido {
    flex-direction: column;
    width: 100%;
    background-color: black;
    height: 100vh;
    justify-content: center;
    font-family: "Roboto", sans-serif;
    text-align: justify;
}

.post {
    width: 50%;
    min-width: 200px;
    max-width: 500px;
    background-color: whitesmoke;
}

.fa-solid fa-ellipsis-vertical{
    font-size: 35px;

}

.post-header {
    justify-content: space-between;
    padding: 5px;
}

 .brand-html{
    display: flex;
    align-items: center; 
}

.user-post{
    padding: 0 0.5rem;
    line-height: 35%;
}

img {
    width: 100%;
    height: auto;
}

.icons {
    padding: 0.2rem 0;
    margin-bottom: 1rem;
}

.bookmark {
    margin-top: 0px;
    margin-left: 290px;
    float: right;
}

.post-footer{
    padding: 0.5rem;
}



p{
    margin-top: 15px;
margin-bottom: 15px;}